{layout './@sortable.latte'}

{block header}
    <h1 class="h2">Menu</h1>
{/block}

{block content}
    <div class="row">
        <div id="grid" class="col-12 col-md-9 col-lg-6">
            {control categories}
        </div>
    </div>
{/block}
