
body {
    font-size: .875rem;
}

.navbar {
    transition: transform 0.4s;
}

.navbar .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .sidebar-toggle label {
    font-size: 1.5em;
    cursor: pointer;
}


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    transform: translateX(-100%);
    transition: transform 0.4s;
}

#inp-sidebar-toggle {
    position: absolute;
    left: -1000px;
    top: -1000px;
    width: 0;
    height: 0;
    border: none;
    outline: none;
    background: none;
    opacity: 0;
}

#inp-sidebar-toggle:checked + .sidebar {
    transform: translateX(0);
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
     color: inherit;
}

@media (min-width: 768px) {
    .sidebar {
        transform: translateX(0);
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


.main {
    padding-top: 48px;
}


.form-invalid-feedback {
    display: block;
    font-size: 90%;
}

.form-invalid-feedback p.error:last-child {
    margin-bottom: 1rem;
}

.invalid-feedback p.error {
    margin: 0;
}


body.login {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

body.login .navbar.fixed-top {
    transform: translateY(-150%);
}

body.login .sidebar {
    transform: translateX(-100%);
}

body.login .main {
    padding-top: 0;
    margin-right: auto;
}

body.login .main-header {
    display: none !important;
}

body.login .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

body.login .form-signin .checkbox {
    font-weight: 400;
}

body.login .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

body.login .form-signin .form-control:focus {
    z-index: 2;
}

body.login .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

body.login .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#homepage-panels > div {
    display: flex;
}

#homepage-panels .image:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: .25rem;
    content: '';
}

#homepage-panels .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.65);
}

.border-dotted {
    border-style: dotted !important;
}
