{
    "reservations_phone": "606 606 806",
    "address": "Karol\u00edny Sv\u011btl\u00e9 23, Praha 1",
    "company_name": "Manzini s.r.o.",
    "company_id": "28406885",
    "premises_id": "1002391636",
    "representative_name": "Tom\u00e1\u0161 Matou\u0161ek",
    "representative_phone": "777 224 547",
    "email": "kavarna@standard-cafe.cz"
}
